# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# Bun
.bun-cache
bun.lock   # opcional — si no querés commitear el lockfile

# Vite
*.local
vite.config.ts.timestamp-*

# IntelliJ based IDEs
.idea
.vscode

# Finder (MacOS) folder config
.DS_Store